<div class="s-testimonials">

    <div class="overlay"></div>

    <div class="row testimonials-header">
        <div class="col-full">
            <h1 class="h02">İnsanlar Benim İçin Ne Dediler?</h1>
        </div>
    </div>

    <div class="row testimonials">

        <div class="col-full testimonials__slider">

            <div class="testimonials__slide">
                <img src="~/hola-master/images/avatars/user-01.jpg" alt="Author image" class="testimonials__avatar">
                <p>
                    Zorlu projeleri başarıyla yönetme konusunda inanılmaz bir yeteneğe sahip. Takım ruhunu güçlendiriyor ve herkesin en iyi performansını sergilemesini sağlıyor.
                </p>
                <div class="testimonials__author h06">
                    Tim Cook
                    <span>CEO, Apple</span>
                </div>
            </div>

            <div class="testimonials__slide">
                <img src="~/hola-master/images/avatars/user-05.jpg" alt="Author image" class="testimonials__avatar">
                <p>
                    iletişim becerileri ve profesyonelliği, projelerimizin başarıya ulaşmasında büyük rol oynadı.Onunla çalışmak gerçekten bir ayrıcalıktı.
                </p>
                <div class="testimonials__author h06">
                    Sundar Pichai
                    <span>CEO, Google</span>
                </div>
            </div>

            <div class="testimonials__slide">
                <img src="~/hola-master/images/avatars/user-02.jpg" alt="Author image" class="testimonials__avatar">
                <p>
                    Esma, liderlik yetenekleri ve problem çözme becerileri ile ekibimize büyük katkılar sağladı. Her zaman olumlu ve destekleyici bir yaklaşımı var.
                </p>
                <div class="testimonials__author h06">
                    Satya Nadella
                    <span>CEO, Microsoft</span>
                </div>
            </div>

        </div> <!-- end testimonials__slider -->

    </div> <!-- end testimonials -->

</div>