@model List<MyPortfolioUdemy.DAL.Entities.Experience>

<div class="row about-content about-content--timeline">

    <div class="col-full text-center">
        <h3>İş ve Proje Deneyimlerim</h3>
    </div>

    <div class="col-six tab-full left">
        <div class="timeline">

            <div class="timeline__block">
                <div class="timeline__bullet"></div>
                <div class="timeline__header">
                    <p class="timeline__timeframe">Temmuz 2023 - Ağustos 2023</p>
                    <h3>Türkiye Teknoloji Takımı</h3>
                    <h5>Volunteer Teaching Intern</h5>
                </div>
                <div class="timeline__desc">
                    <p>6-14 yaş grubu öğrencilere bilim ve teknoloji alanlarında ilgi ve farkındalık oluşturmak amacıyla yola çıkılan Bilim Güngören projesi kapsamında atölyelerde görev alarak “Gönüllü Stajyerlik” programını başarıyla tamamlamış bulunuyorum. Milli teknoloji hamlesi yolunda hep daha ileriye gitme hedefiyle.</p>
                </div>
            </div> <!-- end timeline__block -->

            <div class="timeline__block">
                <div class="timeline__bullet"></div>
                <div class="timeline__header">
                    <p class="timeline__timeframe">Eylül 2023 - Temmuz 2024</p>
                    <h3>
                        Google Developer Student Clubs Turkey </h3>
                    <h5>Core Team Member</h5>
                </div>
                <div class="timeline__desc">
                    <p>Google Developer Student Clubs İstanbul ekibinin AR-GE depertamanında core team member olarak görev almış bulunmaktayım. Bu süreç boyunca zaman yönetimi, planlı çalışma, network kazanımı, takım çalışması vb. gibi bir sürü alanda gelişme fırsatım oldu. </p>
                </div>
            </div> <!-- end timeline__block -->

        </div> <!-- end timeline -->
    </div> <!-- end left -->

    <div class="col-six tab-full right">
        <div class="timeline">

            <div class="timeline__block">
                <div class="timeline__bullet"></div>
                <div class="timeline__header">
                    <p class="timeline__timeframe">Şubat 2024 - Halen</p>
                    <h3>Acun Medya Akademi</h3>
                    <h5>Student</h5>
                </div>
                <div class="timeline__desc">
                    <p>Acun Medya Akademi öncülüğünde Murat Yücedağ ve Erhan Gündüz hocalarımızla c# asp.net, mvc tabanlı projeler geliştiriyoruz.</p>
                </div>
            </div> <!-- end timeline__block -->

            <div class="timeline__block">
                <div class="timeline__bullet"></div>
                <div class="timeline__header">
                    <p class="timeline__timeframe">Ocak 2024 - Haziran 2024 </p>
                    <h3>TEI - TUSAŞ Motor Sanayii A.Ş</h3>
                    <h5>Student</h5>
                </div>
                <div class="timeline__desc">
                    <p>Yaklaşık altı aylık süren havacılık motorları okulunu başarıyla tamamladım.Bu süreç boyunca havacılık motorları, yazılım geliştirme süreçleri gibi alanlarda deneyimli insanlardan eğitimler aldık ve bu eğitimlerin sonunda kısa sınavlara katılım sağladım.  </p>
                </div>
            </div> <!-- end timeline__block -->

        </div> <!-- end timeline -->
    </div> <!-- end right -->

</div>
